.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login-box {
  width: 300px;
  text-align: left;
}


.logo {
  width: 200px;
  margin-bottom: 10px;
}
